/*
 * CSSP Configuration
 * @property int compress Compress the output for this file (1) or pretty-print it (0)
 * @property tokens plugins List of plugins to apply to this file
 */
@cssp {
	compress:0;
	plugins:/*ie_bugfixes inline_block*/ quote_style reset_stylesheet border_radius transparent_background box_shadow data_uri hexcrusher os browser;
}

/*
 * CSSP Constants
 */
@constants {
	bgColor: #FFFFFF;
	darkGreen: #87C41A;
	brightGreen: #CCE360;
	darkText: #1F0A5E;
	naviText: #1F0A5E;
	fontArial: Arial, Helvetica, sans-serif;
	fontVerdana: Verdana, Arial, Helvetica, sans-serif;
	headlineMargin:1.25em 8px 8px 8px;
}

@media screen {


	/**
	 * Basics
	 */
	body {
		font-family:$fontArial;
		font-size:10px;
		background:$bgColor url(body.png) top left;
		color: $darkGreen;
		padding:32px 0;
	}
	p, ul, ol { font-size:1.2em; line-height:1.6; margin:8px; }
	h2 { font-size:1.8em; color:$darkGreen; font-family:$fontVerdana; margin:$headlineMargin; }
	h3 { font-size:1.5em; color:$darkGreen; font-family:$fontVerdana; margin:inherit(h2 margin); }
	h4 { font-size:1.2em; color:$darkGreen; font-weight:bold; margin:inherit(h2 margin); }
	h5 { font-size:1.2em; color:$darkGreen; margin:inherit(h2 margin); }
	h6 { font-size:1.2em; color:$darkGreen; margin:inherit(h2 margin); }
	q { quote-style:german; }


	/**
	 * Layout
	 */
	#wrapper {
		width: 960px;
		margin:0 auto;
	}
	#content {
		text-align:left;
	}


	/**
	 * Header
	 */
	#header {
		children: {
			#logo {
				height:140px;
				background:$darkGreen;
			}
		};
	}


	/**
	 * Navigation
	 */
	#nav {
		height:140px;
		background:#EDF4F7;
		position:relative;
		children: {
			ul {
				position:absolute;
				bottom:0;
				left:0;
				margin:0;
				children: {
					a {
						float:left;
						display:block;
						padding:4px 12px;
						border-top-radius:4px;
						margin:0 0 0 2px;
					}
					li {
						display:inline;
						font-size:1.2em;
						children: {
							a:link, a:visited { color:$naviText; background:$darkGreen; }
							a:active, a:hover { color:$naviText; background:$brightGreen; }
						};
					}
					li.active {
						children: {
							a:link, a:visited { color:$naviText; background:$bgColor; }
							a:active, a:hover { color:$naviText; background:$bgColor; }
						};
					}
				};
			}
		};
	}


	/**
	 * Content
	 */
	#content div.section {
		color:$darkText;
		background: $bgColor;
		box-shadow:4px 4px 12px #DCE7DC;
		margin-bottom:8px;
		padding:2px 8px 8px 8px;
	}

	/**
	 * OS plugin tests
	 */
	#windows {
		-cssp-os: windows;
		color: red;
	}
	
	#windowslt51 {
		-cssp-os: windows<5.1;
		color: red;
	}
	
	#windowsgte51 {
		-cssp-os: windows>=5.1;
		color: red;
	}
	
	#windowse61 {
		-cssp-os: windows=6.1;
		color: red;
	}
	
	#windowse61_2 {
		-cssp-os: ^windows!=6.1;
		color: red;
	}
	
	#notwindowse50 {
		-cssp-os: windows!=5.0;
		color: red;
	}
	
	#notwindows {
		-cssp-os: ^windows;
		color: red;
	}
	
	#notwindows_2 {
		-cssp-os: windows ^windows;
		color: red;
	}
	
	#notlinux {
		-cssp-os: ^linux;
		color: red;
	}
	
	#notlinux_2 {
		-cssp-os: linux ^linux;
		color: red;
	}
	
	#linux {
		-cssp-os: linux;
		color: red;
	}
	
	#linux_2 {
		-cssp-os: ^linux linux;
		color: red;
	}
	
	#notmac {
		-cssp-os: ^mac;
		color: red;
	}
	
	#notmac_2 {
		-cssp-os: mac ^mac;
		color: red;
	}
	
	#mac {
		-cssp-os: mac;
		color: red;
	}
	
	#mac_2 {
		-cssp-os: ^mac mac;
		color: red;
	}
	
	#firefox {
		-cssp-browser: firefox;
		color: red;
	}
	
	#notfirefox {
		-cssp-browser: ^firefox;
		color: red;
	}
	
	#firefoxgte20 {
		-cssp-browser: firefox>=2.0;
		color: red;
	}
	
	#firefoxgte50 {
		-cssp-browser: firefox>=5.0;
		color: red;
	}
	
	#firefoxsafari {
		-cssp-browser: firefox safari;
		color: red;
	}
	
	#safari {
		-cssp-browser: safari;
		color: red;
	}
	
	#gecko {
		-cssp-engine: gecko;
		color: red;
	}
	
	#notgecko {
		-cssp-engine: ^gecko;
		color: red;
	}
	
	#webkit {
		-cssp-engine: webkit;
		color: red;
	}
	
	#notwebkit {
		-cssp-engine: ^webkit;
		color: red;
	}
	
	#mobile {
		-cssp-device: mobile;
		color: red;
	}
	
	#desktop {
		-cssp-device: desktop;
		color: red;
	}
	
	#mobile_gecko {
		-cssp-device: mobile;
		-cssp-engine: gecko;
		color: red;
	}
	
	#desktop_gecko {
		-cssp-device: desktop;
		-cssp-engine: gecko;
		color: red;
	}
}