@cssp {
	compress:1;
	plugins:reset_stylesheet box_shadow rounded_corner_shorthand, transparent_background;
}

@constants {
	bg:#F5F7FA;
	txt:#111;
	white:#FFF;
	dark:#4C5761;
	transdark:rgba(76, 87, 97, 0.95);
	link:#23507A;
	hoverlink:#1C74C7;
	shadow:#A3B1BF;
	border:#BEC4CF;
	lightborder:#DADEE3;
	lighterborder:#E8EAED;
}

@media screen, projection {

	body {
		font-family:Verdana, Arial, sans-serif;
		font-size:85%;
		line-height:1.55;
		color:$txt;
		background:$bg;
	}

	a:link, a:visited {
		color:$link;
		text-decoration:underline;
	}
	a:hover, a:active {
		color:$hoverlink;
		text-decoration:none;
	}

	#header {
		transparent-background:$transdark;
		border-bottom:2px solid $white;
		box-shadow:0 3px 8px $shadow;
		position:fixed;
		top:0;
		left:0;
		right:0;
		z-index:1337;
		children:{
			h1 {
				color:$white;
				font-weight:bold;
				padding:1em;
			}
		};
	}

	#toc {
		background:$white;
		position:absolute;
		right:1em;
		top:0.5em;
		border:1px solid $border;
		box-shadow:3px 3px 8px $shadow;
		width:256px;
		children:{
			h2 {
				cursor:pointer;
				font-weight:bold;
				padding:0.5em 1em;
			}
			a {
				display:block;
			}
			ul a {
				padding:0 1em 0.5em 1em;
			}
			ul ul a {
				padding:0 1em 0.5em 2em;
			}
		};
	}

	#wrapper {
		width:70em;
		margin:0 auto;
		padding-top:2.5em;
		children:{
			h1 {
				border-bottom:1px solid $lightborder;
				color:$dark;
				font-size:2em;
				margin:1.5em 0 0 0;
				padding-bottom:0.5em;
			}
			h2 {
				font-size:1.4em;
				font-weight:bold;
				margin:1.75em 0 0 0;
				children:{
					span {
						color:$shadow;
					}
				};
			}
			h3 {
				color:#CC5042;
				font-size:1.3em;
				margin:1.55em 0 0 0;
			}
			h4 {
				font-size:1em;
				font-weight:bold;
				margin:1.55em 0 0 0;
			}
			p {
				margin:1em 0;
			}
			ul {
				list-style:square;
				margin:1em 0;
			}
			ol {
				list-style:decimal;
				margin:1em 0;
			}
			li {
				list-style:inherit;
				margin-left:2em;
			}
			p.abstract {
				font-style:italic;
			}
			table {
				margin:1em 0;
				box-shadow:3px 3px 8px $shadow;
				children:{
					td {
						background:$white;
						text-align:left;
						border:1px solid $border;
						padding:0.5em;
					}
					th {
						background:$dark !important;
						font-size:0.9em;
						font-weight:bold;
						color:$white;
						extends:#wrapper table td;
					}
				};
			}
			code {
				font-family:monospace;
				font-size:125%;
				border:1px solid $lighterborder;
				background:$white;
				padding:1px;
			}
			pre {
				font-family:monospace;
				font-size:125%;
				background:$white;
				border:1px solid $border;
				box-shadow:3px 3px 8px $shadow;
				margin:1em 0;
				padding:1em;
			}
		};
	}

}